.tabuleiro {
	width: 500px;
	height: 500px;
	background-color: #fff;
	border-radius: 20px;
	margin-bottom: 20px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-self: center;
	padding: 20px;
}

.tabuleiro .titulo, 
.tabuleiro .texto-escolha {
	color: #3238a8;
	margin-top: 20px;
	text-align: center;
}
